<a href="https://colab.research.google.com/github/satyambhatt5/Satyam/blob/main/Market_Basket_Analyisis_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd 
import numpy as np

In [ ]:
sd=pd.read_csv('/content/drive/My Drive/Colab Notebooks/Model Building /store_data.csv')
sd.head()
sd.shape

(7500, 20)

In [ ]:
#Data manipulation libraries
import pandas as pd
import numpy as np

#Visualizations
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style("dark")

import matplotlib

#for market basket analysis (using apriori)
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

#for preprocessing
from mlxtend.preprocessing import TransactionEncoder

Here we can find that data needs a lot of preprocessing.So let's preprocess the data.We use the TransactionEncoder() of mlxtend.preprocessing to do this work for us, if needed even we can implement the function i will provide the alternative as well.The TransactionEncoder() is an Encoder class for transaction data in Python list.It finds out what are all the different products in the transactions and will assign each transaction a list which contains a boolean array where each index represnts the corresponding product whether purchased in the transaction or not i.e. True or False.

It needs input as a python list of lists, where the outer list stores the n transactions and the inner list stores the items.

It returns the one-hot encoded boolean array of the input transactions, where the columns represent the unique items found in the input array in alphabetic order. For further details you can refer its documentation:TransactionEncoder

In [ ]:
sd.head()
sd.tail()
sd.shape

(7500, 20)

In [ ]:
#converting into required format of TransactionEncoder()
trans=[]
for i in range(0,7500):
    trans.append([str(sd.values[i,j]) for j in range(0,20)])

trans=np.array(trans)

print(trans.shape)

(7500, 20)

In [ ]:
t=TransactionEncoder()
sd=t.fit_transform(trans)
sd=pd.DataFrame(sd,columns=t.columns_,dtype=int)

In [ ]:
sd.drop('nan',axis=1,inplace=True)

In [ ]:
'nan' in sd.columns

False

In [ ]:
sd.head()

    asparagus  almonds  antioxydant juice  ...  yams  yogurt cake  zucchini
0           0        0                  0  ...     0            0         0
1           0        0                  0  ...     0            0         0
2           0        0                  0  ...     0            0         0
3           0        0                  0  ...     0            0         0
4           0        0                  0  ...     0            0         0

[5 rows x 120 columns]

In [ ]:
#Let's now work on apriori

#let us return items and ietmsets with atleast 5% support:

freq_items=apriori(sd,min_support=0.05,use_colnames=True)
freq_items

     support                    itemsets
0   0.087200                   (burgers)
1   0.081067                      (cake)
2   0.060000                   (chicken)
3   0.163867                 (chocolate)
4   0.080400                   (cookies)
5   0.051067               (cooking oil)
6   0.179733                      (eggs)
7   0.079333                  (escalope)
8   0.170933              (french fries)
9   0.063200           (frozen smoothie)
10  0.095333         (frozen vegetables)
11  0.052400             (grated cheese)
12  0.132000                 (green tea)
13  0.098267               (ground beef)
14  0.076400            (low fat yogurt)
15  0.129600                      (milk)
16  0.238267             (mineral water)
17  0.065733                 (olive oil)
18  0.095067                  (pancakes)
19  0.071333                    (shrimp)
20  0.050533                      (soup)
21  0.174133                 (spaghetti)
22  0.068400                  (tomatoes)
23  0.062533                    (turkey)
24  0.058533          (whole wheat rice)
25  0.052667  (mineral water, chocolate)
26  0.050933       (mineral water, eggs)
27  0.059733  (spaghetti, mineral water)

In [ ]:
#This tell us that there are 27 frequent itemsets of different lengths , so the first step of our apriori algorithm is finished

#Now let's generate association rules
#res=association_rules(freq_items,metric='confidence',min_threshold=0.8,support_only=False)
res=association_rules(freq_items,metric='lift',min_threshold=0.8,support_only=False)
res

       antecedents      consequents  ...  leverage  conviction
0  (mineral water)      (chocolate)  ...  0.013623    1.073398
1      (chocolate)  (mineral water)  ...  0.013623    1.122506
2  (mineral water)           (eggs)  ...  0.008109    1.043286
3           (eggs)  (mineral water)  ...  0.008109    1.062957
4      (spaghetti)  (mineral water)  ...  0.018243    1.159468
5  (mineral water)      (spaghetti)  ...  0.018243    1.102184

[6 rows x 9 columns]

In [ ]:
#Selecting and Filtering the Results¶
frequent_itemsets = apriori(sd, min_support = 0.05, use_colnames=True)
frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x: len(x))
frequent_itemsets

     support                    itemsets  length
0   0.087200                   (burgers)       1
1   0.081067                      (cake)       1
2   0.060000                   (chicken)       1
3   0.163867                 (chocolate)       1
4   0.080400                   (cookies)       1
5   0.051067               (cooking oil)       1
6   0.179733                      (eggs)       1
7   0.079333                  (escalope)       1
8   0.170933              (french fries)       1
9   0.063200           (frozen smoothie)       1
10  0.095333         (frozen vegetables)       1
11  0.052400             (grated cheese)       1
12  0.132000                 (green tea)       1
13  0.098267               (ground beef)       1
14  0.076400            (low fat yogurt)       1
15  0.129600                      (milk)       1
16  0.238267             (mineral water)       1
17  0.065733                 (olive oil)       1
18  0.095067                  (pancakes)       1
19  0.071333                    (shrimp)       1
20  0.050533                      (soup)       1
21  0.174133                 (spaghetti)       1
22  0.068400                  (tomatoes)       1
23  0.062533                    (turkey)       1
24  0.058533          (whole wheat rice)       1
25  0.052667  (mineral water, chocolate)       2
26  0.050933       (mineral water, eggs)       2
27  0.059733  (spaghetti, mineral water)       2

In [ ]:
# getting th item sets with length = 2 and support more han 10%

frequent_itemsets[ (frequent_itemsets['length'] == 2) &
                   (frequent_itemsets['support'] >= 0.01) ]

     support                    itemsets  length
25  0.052667  (mineral water, chocolate)       2
26  0.050933       (mineral water, eggs)       2
27  0.059733  (spaghetti, mineral water)       2

In [ ]:
# getting th item sets with length = 2 and support more han 10%

frequent_itemsets[ (frequent_itemsets['length'] == 1) &
                   (frequent_itemsets['support'] >= 0.01) ]

     support             itemsets  length
0   0.087200            (burgers)       1
1   0.081067               (cake)       1
2   0.060000            (chicken)       1
3   0.163867          (chocolate)       1
4   0.080400            (cookies)       1
5   0.051067        (cooking oil)       1
6   0.179733               (eggs)       1
7   0.079333           (escalope)       1
8   0.170933       (french fries)       1
9   0.063200    (frozen smoothie)       1
10  0.095333  (frozen vegetables)       1
11  0.052400      (grated cheese)       1
12  0.132000          (green tea)       1
13  0.098267        (ground beef)       1
14  0.076400     (low fat yogurt)       1
15  0.129600               (milk)       1
16  0.238267      (mineral water)       1
17  0.065733          (olive oil)       1
18  0.095067           (pancakes)       1
19  0.071333             (shrimp)       1
20  0.050533               (soup)       1
21  0.174133          (spaghetti)       1
22  0.068400           (tomatoes)       1
23  0.062533             (turkey)       1
24  0.058533   (whole wheat rice)       1

Shortcomings Of Apriori Algorithm

-Using Apriori needs a generation of candidate itemsets. These itemsets may be large in number if the itemset in the database is huge.

-Apriori needs multiple scans of the database to check the support of each itemset generated and this leads to high costs. These shortcomings can be overcome using the FP growth algorithm.

This algorithm is an improvement to the Apriori method. A frequent pattern is generated without the need for candidate generation. FP growth algorithm represents the database in the form of a tree called a frequent pattern tree or FP tree.

This tree structure will maintain the association between the itemsets. The database is fragmented using one frequent item. This fragmented part is called “pattern fragment”. The itemsets of these fragmented patterns are analyzed. Thus with this method, the search for frequent itemsets is reduced comparatively.

This algorithm is an improvement to the Apriori method. A frequent pattern is generated without the need for candidate generation. FP growth algorithm represents the database in the form of a tree called a frequent pattern tree or FP tree.

This tree structure will maintain the association between the itemsets. The database is fragmented using one frequent item. This fragmented part is called “pattern fragment”. The itemsets of these fragmented patterns are analyzed. Thus with this method, the search for frequent itemsets is reduced comparatively.

FP TREE
Frequent Pattern Tree is a tree-like structure that is made with the initial itemsets of the database. The purpose of the FP tree is to mine the most frequent pattern. Each node of the FP tree represents an item of the itemset.

The root node represents null while the lower nodes represent the itemsets. The association of the nodes with the lower nodes that is the itemsets with the other itemsets are maintained while forming the tree.

Frequent Pattern Algorithm Steps¶
The frequent pattern growth method lets us find the frequent pattern without candidate generation.

Let us see the steps followed to mine the frequent pattern using frequent pattern growth algorithm:

1) The first step is to scan the database to find the occurrences of the itemsets in the database. This step is the same as the first step of Apriori. The count of 1-itemsets in the database is called support count or frequency of 1-itemset.

2) The second step is to construct the FP tree. For this, create the root of the tree. The root is represented by null.

3) The next step is to scan the database again and examine the transactions. Examine the first transaction and find out the itemset in it. The itemset with the max count is taken at the top, the next itemset with lower count and so on. It means that the branch of the tree is constructed with transaction itemsets in descending order of count.

4) The next transaction in the database is examined. The itemsets are ordered in descending order of count. If any itemset of this transaction is already present in another branch (for example in the 1st transaction), then this transaction branch would share a common prefix to the root.

This means that the common itemset is linked to the new node of another itemset in this transaction.

5) Also, the count of the itemset is incremented as it occurs in the transactions. Both the common node and new node count is increased by 1 as they are created and linked according to transactions.

6) The next step is to mine the created FP Tree. For this, the lowest node is examined first along with the links of the lowest nodes. The lowest node represents the frequency pattern length 1. From this, traverse the path in the FP Tree. This path or paths are called a conditional pattern base.

Conditional pattern base is a sub-database consisting of prefix paths in the FP tree occurring with the lowest node (suffix).

7) Construct a Conditional FP Tree, which is formed by a count of itemsets in the path. The itemsets meeting the threshold support are considered in the Conditional FP Tree.

8) Frequent Patterns are generated from the Conditional FP Tree.

In [ ]:
pip install mlxtend

Requirement already satisfied: mlxtend in /usr/local/lib/python3.6/dist-packages (0.14.0)
Requirement already satisfied: matplotlib>=1.5.1 in /usr/local/lib/python3.6/dist-packages (from mlxtend) (3.2.2)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from mlxtend) (50.3.0)
Requirement already satisfied: scikit-learn>=0.18 in /usr/local/lib/python3.6/dist-packages (from mlxtend) (0.22.2.post1)
Requirement already satisfied: pandas>=0.17.1 in /usr/local/lib/python3.6/dist-packages (from mlxtend) (1.1.2)
Requirement already satisfied: numpy>=1.10.4 in /usr/local/lib/python3.6/dist-packages (from mlxtend) (1.18.5)
Requirement already satisfied: scipy>=0.17 in /usr/local/lib/python3.6/dist-packages (from mlxtend) (1.4.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.5.1->mlxtend) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.5.1->mlxtend) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.5.1->mlxtend) (2.4.7)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.5.1->mlxtend) (2.8.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.18->mlxtend) (0.16.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.17.1->mlxtend) (2018.9)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from cycler>=0.10->matplotlib>=1.5.1->mlxtend) (1.15.0)

In [ ]:
!apt-get -qq install -y libarchive-dev && pip install -U libarchive
import libarchive

Selecting previously unselected package libarchive-dev:amd64.
(Reading database ... 144611 files and directories currently installed.)
Preparing to unpack .../libarchive-dev_3.2.2-3.1ubuntu0.6_amd64.deb ...
Unpacking libarchive-dev:amd64 (3.2.2-3.1ubuntu0.6) ...
Setting up libarchive-dev:amd64 (3.2.2-3.1ubuntu0.6) ...
Processing triggers for man-db (2.8.3-2ubuntu0.1) ...
Collecting libarchive
  Downloading https://files.pythonhosted.org/packages/bf/d4/26f5c9835d4d648e4f22b5fb91288457698e928aaf9d4ab7eff405b7ef03/libarchive-0.4.7.tar.gz
Collecting nose
  Downloading https://files.pythonhosted.org/packages/15/d8/dd071918c040f50fa1cf80da16423af51ff8ce4a0f2399b7bf8de45ac3d9/nose-1.3.7-py3-none-any.whl (154kB)
     |████████████████████████████████| 163kB 5.4MB/s
Building wheels for collected packages: libarchive
  Building wheel for libarchive (setup.py) ... done
  Created wheel for libarchive: filename=libarchive-0.4.7-cp36-none-any.whl size=31632 sha256=7e7ce3e311be455ba506dc77a5f0383026f94a119fa16cff45c8616bf7d2de0d
  Stored in directory: /root/.cache/pip/wheels/3b/5c/fa/92ee330d259e8fa5bedbd53f67040710fe81cfa463b8711d26
Successfully built libarchive
Installing collected packages: nose, libarchive
Successfully installed libarchive-0.4.7 nose-1.3.7